<section id="abouts" class="abouts" style="margin-top:3rem">
    <div class="container">
        <div class="row">
                <div class="col-md-6">
                    <div class="single_abouts_text text-center wow slideInLeft" data-wow-duration="1s">
                        <img src="assets/images/ab.png" alt="" />
                    </div>
                </div>

                <div class="col-md-6"  *ngIf="about |async as a ">
                    <div class="single_abouts_text wow slideInRight" data-wow-duration="1s">
                        <h4>About us</h4>

                        <div [froalaView]="a.content"></div>
                    
                    </div>
                </div>
            </div>
    </div>
</section>

<loading-spinner *ngIf="showSpinner"></loading-spinner>