<form #post="ngForm" (ngSubmit)="save(post.value)" *ngIf="posts as p">
  <div class="container" style="padding-top:7rem">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input [(ngModel)]="p.title || post.title " #title='ngModel' name="title" id="title" class="input" type="text">
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" type="submit">Submit</button>
          </div>
          <div class="control">
              <button type="button" (click)="delete(p)" style="background:rgb(182, 59, 59); color:#fff; text-decoration:none;" class="button is-text">Delete</button>
            </div>
          <div class="control">
            <button type="button" (click)="cancel()" class="button is-text">Cancel</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>

