<section id="abouts" class="abouts" style="margin-top:3rem"  *ngIf="Post | async as p ">
    <div class="container">
        <div class="row">
            
                <div class="col-md-6 offset-md-3">
                    <div class="text-center">
                        <img [src]="p.url" alt="Placeholder image">
                    </div>
                    <br><hr>
                    <p><b>{{p.title}}</b></p>
                    <p>by</p>
                    <h5><i>Xclusive Bakers</i></h5>
                    <p>To placce an order call <b>+2348034430671</b></p>
                </div>
          
        </div>
    </div>
</section>
