.nav {
    background: #fff;
    color: rgb(218, 48, 218);
    box-shadow: 5px 5px 5px #b5b5b5; 
    -moz-box-shadow: 5px 5px 5px #b5b5b5;
    -webkit-box-shadow: 5px 5px 5px #b5b5b5;
    font-size: 14px;
}

.nav a {
    color: rgb(31, 31, 31);
}

.nav a:hover, a:focus, a:active {
    color: rgb(218, 48, 218);
} 

.button:hover{
    color: #fff !important;
}