<div class="hero-body">
  <div class="container">
    <h1 class="title">
      Our Products
    </h1>
  </div>
</div>

<loading-spinner *ngIf="showSpinner"></loading-spinner>

<section class="p-0" id="portfolio">
  <div class="container-fluid p-0">
    <div class="row no-gutters popup-gallery">
      <div class="col-lg-4 col-sm-6" *ngFor="let pt of Posts | async | paginate: { itemsPerPage: 9, currentPage: p }">
        <a class="portfolio-box" [routerLink]="['/post', pt.id]">
          <img class="img-fluid" [src]="pt.url" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                {{pt.title}}
              </div>
              <div class="project-name">
                by
                <br>
                Xclusive Bakers
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>


<div class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>

